# Plugin Specific ignores
default_env.tres
icon.png
icon.png.import
project.godot
scn/
override.cfg

# Godot-specific ignores
.import/
.godot/
Sounds/
Export/
*.import
export.cfg
export_presets.cfg
project.godot
addons/
funding.yml
3D Assets/
textures/
TestLevels/Maps/

# Mono-specific ignores
.mono/
data_*/
*.png
