# Plugin Specific ignores
default_env.tres
icon.png
icon.png.import
project.godot
scn/
override.cfg

# Godot-specific ignores
.godot/
Export/
export.cfg
export_presets.cfg
project.godot
textures/
sounds/
addons/
funding.yml

# Mono-specific ignores
.mono/
data_*/
*.png
godot_state_charts_examples/ant_hill/ant/ant.gdshader
godot_state_charts_examples/ant_hill/ant/ant.tscn
godot_state_charts_examples/ant_hill/ant/walk.png.import
godot_state_charts_examples/ant_hill/ant_hill_demo.gd
godot_state_charts_examples/ant_hill/ant_hill_demo.tscn
godot_state_charts_examples/ant_hill/banana/banana.svg
godot_state_charts_examples/ant_hill/banana/banana.svg.import
godot_state_charts_examples/ant_hill/banana/banana.tscn
godot_state_charts_examples/ant_hill/marker/circle_white.svg
godot_state_charts_examples/ant_hill/marker/circle_white.svg.import
godot_state_charts_examples/ant_hill/marker/marker.gd
godot_state_charts_examples/ant_hill/marker/marker.tscn
godot_state_charts_examples/ant_hill/nest/nest.svg
godot_state_charts_examples/ant_hill/nest/nest.svg.import
godot_state_charts_examples/ant_hill/nest/nest.tscn
godot_state_charts_examples/ant_hill/pause_controller.gd
godot_state_charts_examples/automatic_transitions/automatic_transitions_demo.tscn
godot_state_charts_examples/automatic_transitions/stamina_bar.gd
godot_state_charts_examples/automatic_transitions/the_frog.gd
godot_state_charts_examples/cooldown/cooldown_demo.tscn
godot_state_charts_examples/cooldown/icons/cooldown_overlay.png.import
godot_state_charts_examples/cooldown/icons/enchant-red-3.png.import
godot_state_charts_examples/cooldown/icons/fireball-eerie-2.png.import
godot_state_charts_examples/cooldown/icons/heal-jade-2.png.import
godot_state_charts_examples/cooldown/LICENSE.md
godot_state_charts_examples/cooldown/skill_button/skill_button.gd
godot_state_charts_examples/cooldown/skill_button/skill_button.tscn
godot_state_charts_examples/csharp/csharp_example.tscn
godot_state_charts_examples/csharp/CSharpExample.cs
godot_state_charts_examples/csharp/README.txt
godot_state_charts_examples/csharp/StateChartExt.cs
godot_state_charts_examples/history_states/history_demo.gd
godot_state_charts_examples/history_states/history_demo.tscn
godot_state_charts_examples/history_states/white_rectangle.svg
godot_state_charts_examples/history_states/white_rectangle.svg.import
godot_state_charts_examples/new_theme.tres
godot_state_charts_examples/order_of_events/order_of_events.tscn
godot_state_charts_examples/performance_test/hundred_state_charts.tscn
godot_state_charts_examples/performance_test/state_chart.tscn
godot_state_charts_examples/performance_test/state_chart_receiver.gd
godot_state_charts_examples/performance_test/ten_state_charts.tscn
godot_state_charts_examples/performance_test/thousand_state_charts.tscn
godot_state_charts_examples/platformer/breaking_box/break.png.import
godot_state_charts_examples/platformer/breaking_box/breaking_box.gd
godot_state_charts_examples/platformer/breaking_box/breaking_box.tscn
godot_state_charts_examples/platformer/breaking_box/hit.png.import
godot_state_charts_examples/platformer/breaking_box/idle.png.import
godot_state_charts_examples/platformer/checkpoint/checkpoint.gd
godot_state_charts_examples/platformer/checkpoint/checkpoint.tscn
godot_state_charts_examples/platformer/checkpoint/checkpoint_flag_out.png.import
godot_state_charts_examples/platformer/checkpoint/checkpoint_idle.png.import
godot_state_charts_examples/platformer/checkpoint/checkpoint_no_flag.png.import
godot_state_charts_examples/platformer/fireworks_box/box.png.import
godot_state_charts_examples/platformer/fireworks_box/fireworks_box.gd
godot_state_charts_examples/platformer/fireworks_box/fireworks_box.tscn
godot_state_charts_examples/platformer/ninja_frog/full.png.import
godot_state_charts_examples/platformer/ninja_frog/ninja_frog.gd
godot_state_charts_examples/platformer/ninja_frog/ninja_frog.tscn
godot_state_charts_examples/platformer/platformer_demo.tscn
godot_state_charts_examples/platformer/terrain/green.png.import
godot_state_charts_examples/platformer/terrain/terrain_tiles.png.import
godot_state_charts_examples/platformer/terrain/terrain_tiles.tres
godot_state_charts_examples/random_transitions/random_transitions.tscn
godot_state_charts_examples/random_transitions/wandering_frog/wandering_frog.gd
godot_state_charts_examples/random_transitions/wandering_frog/wandering_frog.tscn
godot_state_charts_examples/stepping/stepping.gd
godot_state_charts_examples/stepping/stepping.tscn
